# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
venv/
env/
ENV/
.env

# IDEs / OS files
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Runtime-generated data files (created by simulator.py and agent.py)
scan_feed.jsonl
alerts.json
